body {
    background-color: whitesmoke
}
#content{
    width: 1000px;
    margin: 0px auto;
    margin-left:0px;
    
}
div ul li a:link, div ul li a:visited {
    display: block;
    background-color: #82CAFA;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: Black;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    border-bottom: 1px solid #fff;
    width: 170px;

   
  
          
}
div ul li a:hover{
    background-color: #099;
}
li ul li a:link, li ul li a:visited {
    display: block;
    background-color: #82CAFA;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: Black;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    border-bottom: 1px solid #fff;
    width: 170px;
   
    
  
 

}
li ul li a:hover {
    background-color: #099;

}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;   
}
div ul li {
    float: left;
    margin-left: 5px;
}
ul li ul li {
    float: none;
    margin-left: 0px;
    
}
li ul {
    display: none;  
    position: absolute;
}
li:hover ul{
    display: block; 
}